<div class="form-signin">
  <img class="mb-4" src="../../../assets/vendor/yandex_disk_icons.svg" alt="">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <a [href]="auth.login"
          class="btn btn-lg btn-primary btn-block">Sign in</a>
  <p class="mt-5 mb-3 text-muted">&copy; Anton Zaglumonin</p>
</div>
